<html>
<%= flash[:notice] %>
<h1>Hi</h1>

<%= link_to 'Add Candidate', new_candidate_path %>

<table>
    <tr>
    <td>Name</td>
    <td>Votes</td>
    <td>Age</td>
    <td>Party</td>
    <td>Politics</td>
    <td>Action</td>
    </tr>

    <% @candidates.each do |candidate| %>
    <tr>
        <td><%= link_to candidate.name, candidate_path(candidate.id) %></td>
        <td><%= candidate.vote_logs.size %></td>
        <td><%= candidate.age %></td>
        <td><%= candidate.party %></td>
        <td><%= candidate.politics %></td>
        <td><%= link_to "update", edit_candidate_path(candidate.id) %></td>
        <td><%= link_to "delete", candidate_path(candidate.id ), method: 'delete', data: {confirm: 'Sure?'} %></td>
        <td><%= link_to "vote", vote_candidate_path(candidate.id ), method: 'post' %></td>
        
    </tr>
    <% end %>
</table>
</html>